<form #varForForm="ngForm" (ngSubmit)="onSubmitMethod(varForForm)">
  <div ngModelGroup #varForGroup="ngModelGroup">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input 
      required 
      minlength="3" 
      maxlength="10" 
      pattern="banana" 
      ngModel 
      name="firstNameControl" 
      #varForFirstName="ngModel" 
      type="text" 
      id="firstName" 
      class="form-control" 
      (change)="log(varForFirstName)">
      <div 
      *ngIf="varForFirstName.touched && !varForFirstName.valid" 
      class="alert alert-danger">
        <div *ngIf="varForFirstName.errors.required">First name is required.</div>
        <div *ngIf="varForFirstName.errors.minlength">First name should be a minimum of {{ varForFirstName.errors.minlength.requiredLength }} characters.</div>
        <div *ngIf="varForFirstName.errors.pattern">First name does not match pattern.</div>
      </div>
    </div>
  </div>
	<div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="commentControl" #varForCommentControl="ngModel" id="comment" cols="" rows="" class="form-control" (change)="log(varForCommentControl)"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed"> Subscribe to list
    </label>
  </div>
  <b>Select returning id's</b>
  <div class="form-group">
    <label for="ddContactMethod">Contact Method</label>
    <select ngModel name="ddContactMethod" id="ddContactMethod" class="form-control">
      <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
    </select>
  </div>
  <b>Select returning objects</b>
  <div class="form-group">
    <label for="ddContactMethod2">Contact Method</label>
    <select ngModel name="ddContactMethod2" id="ddContactMethod2" class="form-control">
      <option *ngFor="let method3 of contactMethods" [ngValue]="method3">{{ method3.name }}</option>
    </select>
  </div>
  <div class="radio">
    <label *ngFor="let method2 of contactMethods">
      <input ngModel type="radio" name="rbContactMethod" [value]="method2.id">
      {{ method2.name }}
    </label>
  </div>
  <p>
    {{ varForForm.value | json }}
  </p>   
  <button class="btn btn-primary" [disabled]="!varForForm.valid">Submit</button>
</form>